div(class='post-bottom-section', id='add-comment')
  h3 Pošalji komentar
  .primary
    form(action='/post/#{post._id}/comment/new', method='POST')
      input(type='hidden', name='_csrf', value=csrfToken)
      div
        label(for='postComment') Komentar 
          span.required *
        textarea(id='postComment', name='post[comment]')
      
      input(type='submit', value='Pošalji', class='submit')