.about-me
  h3 O autoru
  p
    a(href='/user/#{data.user.name.username}')
      img(src='/images/users/#{data.user.name.username}_small.jpg', class="align-left")
    = data.user.bio.about
- if (data.posts.length)
  .sidemenu.popular
    h3 Još od istog autora
    ul
      - each post in data.posts
        li
          a(href='/post/#{post.titleUrl}')= substring(post.title)
.sidemenu.popular
  p Ovo je neki opis sajta.