- each post in posts
  div(style='padding: 5px;')
    a(href='/post/#{post.titleUrl}')= post.title
    - if (session.user && session.user._id == post.owner || isAdmin)
      a(href='/post/#{post.titleUrl}/edit')
        button Edituj post