form(action='/post/new', method='POST')
  - if ('undefined' !== typeof post.errors)
    div(class='error')
      ul
        - each err in post.errors
          li= err
          
  input(type='hidden', name='_csrf', value=csrfToken)

  label(for='postTitle') Naslov: 
  input(type='text', id='postTitle', name='post[title]', value=post.title)
  br
  label(for='postContent') Sadrzaj: 
  textarea(id='postContent', name='post[content]')= post.content
  br

  input(type='submit', value='Kreiraj')
