!!!
head
  script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
  script(type='text/javascript', src='/javascripts/script.js')

  script(type='text/javascript', src='/javascripts/highlight/highlight.pack.js')
  script(type='text/javascript')
    hljs.initHighlightingOnLoad();

  link(rel='stylesheet', href='/javascripts/highlight/styles/github.css', type='text/css')
  link(rel='stylesheet', type='text/css', media='screen', href='/stylesheets/coolblue.css')
body(style='margin: 0 auto; width: 978px;')!= file