p
  a(href='http://nodejs.rs/user/#{username}')= author
  |  je ostavio komentar u Älanku 
  a(href='http://nodejs.rs/post/#{titleUrl}')= title

!= commentText
hr
a(href='http://nodejs.rs/#{commentUrl}')= commentUrl