h3 Čestitamo #{fullName}!
p Sada ste postali član srpske Node.js zajednice :)
p.
  U želji da zajedno doprinesemo razvoju zajednice, pozivamo Vas da budete aktivni na sajtu i 
  svojim znanjem i veštinama pomažete i podstičete ostale članove kao i sve zainteresovane za 
  Node.js.
p
  | Za više informacija o samom projektu 
  i Node Srbija 
  | posetite 
  a(href='http://nodejs.rs/about') http://nodejs.rs/about
  |  i otkrijte koje sve mogućnosti pruža ovaj sajt.
i
  | Pozdrav i vidimo se na 
  a(href='http://nodejs.rs') Node Srbija
  |  :)