.about-me
  h3 O autoru
  p
    a(href='/user/{user.name.username}')
      img(src='/images/users/{user.name.username}_small.jpg', width="42", height="42", alt="firefox", class="align-left")
    | Lorem ipsum dolor sit, consectetuer adipiscing. Donec libero. Suspendisse bibendum.
    | Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
    | posuere nunc justo tempus leo suspendisse bibendum.
    | a(href="index.html") Learn more...
.sidemenu
  h3 još od istog autora
  ul
    li
      a(href='/') Pocetna
    li
      a(href='/') Pocetna
        span neki tamo tekst...
    li
      a(href='/') Pocetna
.sidemenu.popular
  h3 najnoviji
  ul
    li
      a(href='/') test1
        span ahahah ahahh
    li
      a(href='/') test1
        span ahahah ahahh
    li
      a(href='/') test1
        span ahahah ahahh