article.post
  .primary
    h2
      a(href='/post/new') Kreiraj novi post
    p.post-info postovanu u 
      a(href='') neki tag
    p
      neki tekst... neki tekst... neki tekst... neki tekst...
    p
      neki tekst... neki tekst... neki tekst... neki tekst...
    p
      a(href='/post', class='more') listaj postove
  aside
    p.dateinfo JAN
      span 31
    .post-meta
      h4 Post info
      ul
        li.user
          a(href='/user/test1') test1
        li.time
          a(href='/') vreme
        li.comment
          a(href='/') komentar
        li.permalink
          a(href='/') link