!!!
html
  head
    - var title = title || 'Node Srbija'
    title= title
    link(rel='stylesheet', href='/stylesheets/blueprint/screen.css', type='text/css', media='screen, projection')
    link(rel='stylesheet', href='/stylesheets/blueprint/print.css', type='text/css', media='print')
    //if lt IE 8
      link(rel='stylesheet', href='/stylesheets/blueprint/ie.css', type='text/css', media='screen, projection')
  body
    .container.showgrid
      .span-24
        .span-18
          a(href='/'): img(src='/images/logo.jpg', height='10%')
        .span-6.last
          - if (typeof session.user !== 'undefined')
            a(href='/logout') Izloguj se #{session.user.email}
          - else
            .span-2.colborder
              a(href='/register') Registracija
            .span-2.last
              a(href='/login') Logovanje
      .span-24
        != messages()
        != body
      .span-24
        h1(style='background: skyblue;') Ovo je footer
