h1 Uloguj se
form(action='/login', method='POST')
  - if ('undefined' !== typeof user)
    - if (user.errors.length)
      div(class='error')
        ul
          - for (var i = 0; i < user.errors.length; i++)
            li= user.errors[i][Object.keys(user.errors[i])]

  label(for='user_email') E-mail: 
  input(type='text', id='user_email', name='user[email]', value=(('undefined' !== typeof user) ? user.email: null), class=(('undefined' !== typeof user && (Object.hasOwnProperty.call(user.errors[0], 'email') || Object.hasOwnProperty.call(user.errors[0], 'login'))) ? 'error': null))
  br
  label(for='user_password') Lozinka: 
  input(type='password', id='user_password', name='user[password]', value=(('undefined' !== typeof user) ? user.password: null), class=(('undefined' !== typeof user && (Object.hasOwnProperty.call(user.errors[0], 'password') || Object.hasOwnProperty.call(user.errors[0], 'login') || (user.errors.length > 1 ? Object.hasOwnProperty.call(user.errors[1], 'password') : null))) ? 'error': null))
  br
  input(type='submit', value='Uloguj se') 
