form(action='/login', method='POST')
  - if ('undefined' !== typeof user.errors)
    div(class='error')
      ul
        - each err in user.errors
          li= err
            
  input(type='hidden', name='_csrf', value=csrfToken)

  label(for='userEmail') E-mail: 
  input(type='text', id='userEmail', name='user[email]', value=user.email)
  br
  label(for='userPassword') Lozinka: 
  input(type='password', id='userPassword', name='user[password]', value=user.password)
  br
  input(type='submit', value='Uloguj se') 
