body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.errorSummary {
    background: #FFB5B5;
    border: 1px solid #FF0000;
}

.error {
    border: 1px solid #FF0000;
}

.joinButtons {
    display: block;
    background: #ff0000;
}
