h3 Node Srbija
p(style='font-size: 0.8em;')
  | Node Srbija je blog kojim upravlja Node.js zajednica Srbije 
  | čiji glavni cilj je da na srpskom jeziku upozna i poduči sve 
  | zainteresovane za JavaScript programski jezik. Node Srbija sadrži 
  | veliki broj tutorijala za Node.js i JavaScript kao i ostala generalna 
  | uputstva i objašnjenja vezana za web razvoj. Autor bloga je 
  a(href='http://github.com/ManInTheBox') Žarko Stanković 
  | veliki Node fan iz Beograda.
  | Pročitajte 
  a(href='/about') više o projektu 
  | Node Srbija.