.main-content
  :markdown

    ### O projektu Node Srbija

    _ Node Srbija je blog kojim upravlja Node.js zajednica Srbije 
    čiji glavni cilj je da na srpskom jeziku upozna i poduči sve 
    zainteresovane za JavaScript programski jezik. _

    Node Srbija sadrži veliki broj tutorijala za [Node.js](http://nodejs.org) i 
    [JavaScript](http://developer.mozilla.org/en/JavaScript) kao i ostala generalna 
    uputstva i objašnjenja vezana za web razvoj. Autor bloga je 
    [Žarko Stanković](http://github.com/ManInTheBox) veliki Node fan iz Beograda.

    ** Preuzimanje članaka **

    Svi članci su javno dostupni i na rasploaganju za preuzimanje (download) 
    bez ikakvih ograničenja. Svaki članak je intelektualno vlasništvo autora koji ga 
    je napisao.  
    Proces preuzimanje članka je jednostavan jer samo treba da pratite šablon  
    `http://nodejs.rs/post/ime-clanka-koji-zelite-da-preuzmete[.format]/download`  
    gde je format opcion (*podrazumevani format je HTML*) i može biti jedan 
    od ispod navedenih:

    * html
    * md (Markdown)
    * pdf (*biće podržan u bližoj budućnosti*)

    Članke takođe možete preuzimati direktnom putanjom do `.md` fajla u direktorijumu 
    `/articles`.

    ** Želim da učestvujem i da pišem članke **

    _Odlično!_  
    Prvi korak je da odete na [stranicu za kreiranje novog članka](/post/new) 
    i podelite sa ostatkom sveta vaša znanja i mišljenja. Prilikom pisanja članka 
    možete koristiti [Markdown sintaksu](http://daringfireball.net/projects/markdown/) 
    a detaljna uputstva o samoj Markdown sintaksi možete 
    [ovde](/post/generalni-prirucnik-za-markdown-sintaksu) pročitati. 
    Node Srbija podržava napredni Markdown koji ima iste funkcionalnosti kao 
    [GitHub Flavored Markdown](http://github.github.com/github-flavored-markdown/). 
    Prilikom kreiranja članka imate mogućnost definisanja tagova koji će kasnije biti 
    korišćeni prilikom pretrage.

    [![JavaScript RegExp source](http://static.jsconf.us/promotejsh.gif)](https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/RegExp 'JavaScript RegExp source')