.main-content
  :markdown

    ### O projektu Node Srbija

    _ Node Srbija je blog kojim upravlja Node.js zajednica Srbije čiji je glavni cilj da na 
    srpskom jeziku upozna i poduči sve zainteresovane za JavaScript programski jezik i najpopularniju
    platformu današnjice za razvoj serverskih aplikacija uz pomoć JavaScript-a - **Node.js**. _

    Node Srbija sadrži veliki broj tutorijala za [Node.js](http://nodejs.org) i 
    [JavaScript](http://developer.mozilla.org/en/JavaScript) kao i ostala generalna 
    uputstva i objašnjenja vezana za web razvoj. Autor bloga je 
    [Žarko Stanković](http://github.com/ManInTheBox) veliki Node fan iz Beograda.  
    Sadržaj preuzet sa ovog sajta ne može se dalje upotrebljavati u neke druge svrhe bez prethodne 
    saglasnosti autora članka (objavljivanje delova članka ili u celini u neke druge svrhe npr. komercijalna knjiga itd.).

    #### Preuzimanje članaka

    Svi članci su javno dostupni i na raspolaganju za preuzimanje (download) bez ikakvih ograničenja. 
    Svaki članak je intelektualno vlasništvo autora koji ga je napisao.  
    Proces preuzimanje članka je jednostavan jer samo treba da pratite šablon  
    `http://nodejs.rs/post/ime-clanka-koji-zelite-da-preuzmete[.format]/download`  
    gde je format opcion (*podrazumevani format je HTML*) i može biti jedan 
    od ispod navedenih:

    * html
    * md (Markdown)
    * pdf

    Članke takođe možete preuzimati direktnom putanjom do fajla u direktorijumu `/articles`.  
    `http://nodejs.rs/articles/ime-clanka-koji-zelite-da-preuzmete.md`

    #### Želim da učestvujem i da pišem članke

    _**Odlično!**_  
    Prvi korak je da odete na [stranicu za kreiranje novog članka](/post/new) i podelite sa ostatkom sveta vaša
    znanja i mišljenja. Prilikom pisanja članka možete koristiti 
    [Markdown sintaksu](http://daringfireball.net/projects/markdown/) a detaljna uputstva o samoj Markdown sintaksi 
    možete pročitati u [priručniku](/post/generalni-prirucnik-za-markdown-sintaksu). Node Srbija podržava napredni Markdown 
    koji ima iste funkcionalnosti kao [GitHub Flavored Markdown](http://github.github.com/github-flavored-markdown/) plus 
    dodaje neke specifične funkcionalnosti jedinstvene za _Node Srbija_ blog. 
    Prilikom kreiranja članka imate mogućnost definisanja tagova koji će kasnije biti korišćeni prilikom pretrage kao i
    uživo pregled generisanog HTML sadržaja iz Markdown-a dok još unosite tekst!

    _Node.js zajednica Srbije_ Vam se zahvaljuje na podršci i ohrabruje Vas da, ukoliko već niste, zaronite u 
    fantastični svet modernog razvoja softvera i Vašim nesebičnim znanjem date svoj doprinos razvoju ovog bloga! 

    ### Naši cool drugari i ostale dobre stvari u životu :D

    [![JavaScript RegExp source](http://static.jsconf.us/promotejsh.gif)](https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/RegExp 'JavaScript RegExp source')
    [![Udruženje PHP programera](http://phpsrbija.rs/wp-content/uploads/2013/01/LOGO_phpsrbija_s.png)](http://phpsrbija.rs/ 'Udruženje PHP programera')
    [![jQuery zajednica Srbije](http://jquery.rs/img/logo.png)](http://jquery.rs/ 'jQuery zajednica Srbije')