p
  | Na ovoj stranici ćete pronaći zanimljive i korisne linkove preporučene od strane zajednice.
  | Ukoliko želite da pošaljete Vaš link, jednostavno nam pošaljite 
  a(href="https://github.com/ManInTheBox/nodejs.rs/edit/master/views/site/links.jade") pull request 
  | i mi ćemo ga vrlo rado prihvatiti :-)
  br
  | Hvala unapred!

ul
  li
    a(href="http://nodejs.org/") Node.js
    br
    p.
      Zvanična prezentacija projekta Node.js. Adresa koju ćete svakako često posećivati.
  li
    a(href="https://npmjs.org/") npm
    br
    p.
      Moduli i Node.js? Na ovoj adresi ćete naći sva pitanja i odgovore vezane za upravljanje bibliotekama u Node-u.
  li
    a(href="http://www.nodebeginner.org/") The Node Beginner Book
    br
    p.
      Strogo preporučena literatura za svakog Node početnika. Na jedan lako razumljiv način
      odlično objašnjen koncept Node.js.
  li
    a(href="http://expressjs.com/") Express
    br
    p.
      Express je najpopularniji web framework za node. Iako veoma lagan i lak za korišćenje omogućava izradu
      ozbiljnih web aplikacija.
  li
    a(href="http://mongoosejs.com/") Mongoose
    br
    p.
      Želite ORM podršku za rad sa vašom MongoDB bazom podataka? Mongoose je najpopularniji ODM framework za Node.
  li
    a(href="http://jade-lang.com/") Jade
    br
    p.
      Jade je najpopularniji template engine za Node. Koristi sopstvenu sintaksu koja je laka za učenje
      a pritom je veoma moćna i vaši template fajlovi biće čitljiviji više nego ikad do sad!
  li
    a(href="https://www.nodejitsu.com/") Nodejitsu
    br
    p.
      Potreban vam je hosting za Node? Nodejitsu je najpopularnija platforma za hostovanje Node aplikacija.
  li
    a(href="http://nodetuts.com/") Node Tuts
    br
    p.
      Odlični video tutorijali za Node koje uređuje Pedro Teixeira.
  li
    a(href="http://www.nodecloud.org/") NodeCloud
    br
    p.
      Kolekcija linkova vezanih za Node.js rangirani po rejtingu na Alexa-i. Takoreći slična stranica kao ova
      koju upravo gledate. Obavezno posetiti!
  li
    a(href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js") Stack Overflow odgovori za Node.js linkove
    br
    p.
      Ovo je link gde ćete pronaći ogroman broj korisnih linkova za Node.js.
  li
    a(href="http://howtonode.org/") How To Node
    br
    p.
      Blog na kojem ćete pronaći veoma korisne tutorijale vezane za razvoj Node aplikacija.